[submodule "graphql_engine"]
	path = graphql_engine
	url = https://github.com/mintproject/graphql_engine.git
[submodule "mint-ensemble-manager"]
	path = mint-ensemble-manager
	url = https://github.com/mintproject/mint-ensemble-manager.git
	branch = model-catalog-migration
[submodule "ui"]
	path = ui
	url = https://github.com/mintproject/mint-ui-lit.git
[submodule "helm-charts"]
	path = helm-charts
	url = https://github.com/mintproject/mint.git
[submodule "model-catalog-api"]
	path = model-catalog-api
	url = https://github.com/mintproject/model-catalog-api.git
