openapi: 3.0.1
info:
  description: "This is the API of the Software Description Ontology at [https://w3id.org/okn/o/sdm](https://w3id.org/okn/o/sdm)"
  title: Model Catalog
  version: v2.1.0
externalDocs:
  description: Model Catalog
  url: https://w3id.org/okn/o/sdm
servers:
  - url: https://api.models.mint.isi.edu/v2.0.0
  - url: http://localhost:8080/v2.0.0
  - url: https://api.models.wifire.mint.isi.edu/v2.0.0
paths:
  /catalogidentifiers:
    get:
      operationId: catalogidentifiers_get
      description:
        Gets a list of all instances of CatalogIdentifier (more information
        in https://w3id.org/okn/o/sd#CatalogIdentifier)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CatalogIdentifier"
                type: array
          description:
            Successful response - returns an array with the instances of
            CatalogIdentifier.
      summary: List all instances of CatalogIdentifier
      tags:
        - CatalogIdentifier
    post:
      operationId: catalogidentifiers_post
      description:
        Create a new instance of CatalogIdentifier (more information in
        https://w3id.org/okn/o/sd#CatalogIdentifier)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CatalogIdentifier"
        description: Information about the CatalogIdentifierto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogIdentifier"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one CatalogIdentifier
      tags:
        - CatalogIdentifier
  /catalogidentifiers/{id}:
    delete:
      operationId: catalogidentifiers_id_delete
      description: Delete an existing CatalogIdentifier (more information in https://w3id.org/okn/o/sd#CatalogIdentifier)
      parameters:
        - description: The ID of the CatalogIdentifier to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing CatalogIdentifier
      tags:
        - CatalogIdentifier
    get:
      operationId: catalogidentifiers_id_get
      description:
        Gets the details of a given CatalogIdentifier (more information
        in https://w3id.org/okn/o/sd#CatalogIdentifier)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the CatalogIdentifier to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogIdentifier"
          description: Gets the details of a given CatalogIdentifier
      summary: Get a single CatalogIdentifier by its id
      tags:
        - CatalogIdentifier
    put:
      operationId: catalogidentifiers_id_put
      description: Updates an existing CatalogIdentifier (more information in https://w3id.org/okn/o/sd#CatalogIdentifier)
      parameters:
        - description: The ID of the CatalogIdentifier to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CatalogIdentifier"
        description: An old CatalogIdentifierto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogIdentifier"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing CatalogIdentifier
      tags:
        - CatalogIdentifier
  /configurationsetups:
    get:
      operationId: configurationsetups_get
      description:
        Gets a list of all instances of ConfigurationSetup (more information
        in https://w3id.org/okn/o/sd#ConfigurationSetup)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ConfigurationSetup"
                type: array
          description:
            Successful response - returns an array with the instances of
            ConfigurationSetup.
      summary: List all instances of ConfigurationSetup
      tags:
        - ConfigurationSetup
    post:
      operationId: configurationsetups_post
      description:
        Create a new instance of ConfigurationSetup (more information in
        https://w3id.org/okn/o/sd#ConfigurationSetup)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigurationSetup"
        description: Information about the ConfigurationSetupto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationSetup"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one ConfigurationSetup
      tags:
        - ConfigurationSetup
  /configurationsetups/{id}:
    delete:
      operationId: configurationsetups_id_delete
      description: Delete an existing ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)
      parameters:
        - description: The ID of the ConfigurationSetup to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing ConfigurationSetup
      tags:
        - ConfigurationSetup
    get:
      operationId: configurationsetups_id_get
      description:
        Gets the details of a given ConfigurationSetup (more information
        in https://w3id.org/okn/o/sd#ConfigurationSetup)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the ConfigurationSetup to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationSetup"
          description: Gets the details of a given ConfigurationSetup
      summary: Get a single ConfigurationSetup by its id
      tags:
        - ConfigurationSetup
    put:
      operationId: configurationsetups_id_put
      description: Updates an existing ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)
      parameters:
        - description: The ID of the ConfigurationSetup to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigurationSetup"
        description: An old ConfigurationSetupto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationSetup"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing ConfigurationSetup
      tags:
        - ConfigurationSetup
  /constraints:
    get:
      operationId: constraints_get
      description:
        Gets a list of all instances of Constraint (more information in
        https://w3id.org/okn/o/sd#Constraint)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Constraint"
                type: array
          description:
            Successful response - returns an array with the instances of
            Constraint.
      summary: List all instances of Constraint
      tags:
        - Constraint
    post:
      operationId: constraints_post
      description: Create a new instance of Constraint (more information in https://w3id.org/okn/o/sd#Constraint)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Constraint"
        description: Information about the Constraintto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Constraint"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one Constraint
      tags:
        - Constraint
  /constraints/{id}:
    delete:
      operationId: constraints_id_delete
      description: Delete an existing Constraint (more information in https://w3id.org/okn/o/sd#Constraint)
      parameters:
        - description: The ID of the Constraint to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing Constraint
      tags:
        - Constraint
    get:
      operationId: constraints_id_get
      description: Gets the details of a given Constraint (more information in https://w3id.org/okn/o/sd#Constraint)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the Constraint to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Constraint"
          description: Gets the details of a given Constraint
      summary: Get a single Constraint by its id
      tags:
        - Constraint
    put:
      operationId: constraints_id_put
      description: Updates an existing Constraint (more information in https://w3id.org/okn/o/sd#Constraint)
      parameters:
        - description: The ID of the Constraint to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Constraint"
        description: An old Constraintto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Constraint"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing Constraint
      tags:
        - Constraint
  /datatransformations:
    get:
      operationId: datatransformations_get
      description:
        Gets a list of all instances of DataTransformation (more information
        in https://w3id.org/okn/o/sd#DataTransformation)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DataTransformation"
                type: array
          description:
            Successful response - returns an array with the instances of
            DataTransformation.
      summary: List all instances of DataTransformation
      tags:
        - DataTransformation
    post:
      operationId: datatransformations_post
      description:
        Create a new instance of DataTransformation (more information in
        https://w3id.org/okn/o/sd#DataTransformation)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataTransformation"
        description: Information about the DataTransformationto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransformation"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one DataTransformation
      tags:
        - DataTransformation
  /datatransformations/{id}:
    delete:
      operationId: datatransformations_id_delete
      description: Delete an existing DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)
      parameters:
        - description: The ID of the DataTransformation to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing DataTransformation
      tags:
        - DataTransformation
    get:
      operationId: datatransformations_id_get
      description:
        Gets the details of a given DataTransformation (more information
        in https://w3id.org/okn/o/sd#DataTransformation)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the DataTransformation to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransformation"
          description: Gets the details of a given DataTransformation
      summary: Get a single DataTransformation by its id
      tags:
        - DataTransformation
    put:
      operationId: datatransformations_id_put
      description: Updates an existing DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)
      parameters:
        - description: The ID of the DataTransformation to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataTransformation"
        description: An old DataTransformationto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransformation"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing DataTransformation
      tags:
        - DataTransformation
  /datatransformationsetups:
    get:
      operationId: datatransformationsetups_get
      description:
        Gets a list of all instances of DataTransformationSetup (more information
        in https://w3id.org/okn/o/sd#DataTransformationSetup)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DataTransformationSetup"
                type: array
          description:
            Successful response - returns an array with the instances of
            DataTransformationSetup.
      summary: List all instances of DataTransformationSetup
      tags:
        - DataTransformationSetup
    post:
      operationId: datatransformationsetups_post
      description:
        Create a new instance of DataTransformationSetup (more information
        in https://w3id.org/okn/o/sd#DataTransformationSetup)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataTransformationSetup"
        description: Information about the DataTransformationSetupto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransformationSetup"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one DataTransformationSetup
      tags:
        - DataTransformationSetup
  /datatransformationsetups/{id}:
    delete:
      operationId: datatransformationsetups_id_delete
      description:
        Delete an existing DataTransformationSetup (more information in
        https://w3id.org/okn/o/sd#DataTransformationSetup)
      parameters:
        - description: The ID of the DataTransformationSetup to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing DataTransformationSetup
      tags:
        - DataTransformationSetup
    get:
      operationId: datatransformationsetups_id_get
      description:
        Gets the details of a given DataTransformationSetup (more information
        in https://w3id.org/okn/o/sd#DataTransformationSetup)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the DataTransformationSetup to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransformationSetup"
          description: Gets the details of a given DataTransformationSetup
      summary: Get a single DataTransformationSetup by its id
      tags:
        - DataTransformationSetup
    put:
      operationId: datatransformationsetups_id_put
      description:
        Updates an existing DataTransformationSetup (more information in
        https://w3id.org/okn/o/sd#DataTransformationSetup)
      parameters:
        - description: The ID of the DataTransformationSetup to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataTransformationSetup"
        description: An old DataTransformationSetupto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransformationSetup"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing DataTransformationSetup
      tags:
        - DataTransformationSetup
  /datasetspecifications:
    get:
      operationId: datasetspecifications_get
      description:
        Gets a list of all instances of DatasetSpecification (more information
        in https://w3id.org/okn/o/sd#DatasetSpecification)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DatasetSpecification"
                type: array
          description:
            Successful response - returns an array with the instances of
            DatasetSpecification.
      summary: List all instances of DatasetSpecification
      tags:
        - DatasetSpecification
    post:
      operationId: datasetspecifications_post
      description:
        Create a new instance of DatasetSpecification (more information
        in https://w3id.org/okn/o/sd#DatasetSpecification)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatasetSpecification"
        description: Information about the DatasetSpecificationto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetSpecification"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one DatasetSpecification
      tags:
        - DatasetSpecification
  /datasetspecifications/{id}:
    delete:
      operationId: datasetspecifications_id_delete
      description: Delete an existing DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)
      parameters:
        - description: The ID of the DatasetSpecification to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing DatasetSpecification
      tags:
        - DatasetSpecification
    get:
      operationId: datasetspecifications_id_get
      description:
        Gets the details of a given DatasetSpecification (more information
        in https://w3id.org/okn/o/sd#DatasetSpecification)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the DatasetSpecification to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetSpecification"
          description: Gets the details of a given DatasetSpecification
      summary: Get a single DatasetSpecification by its id
      tags:
        - DatasetSpecification
    put:
      operationId: datasetspecifications_id_put
      description: Updates an existing DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)
      parameters:
        - description: The ID of the DatasetSpecification to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatasetSpecification"
        description: An old DatasetSpecificationto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetSpecification"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing DatasetSpecification
      tags:
        - DatasetSpecification
  /fundinginformations:
    get:
      operationId: fundinginformations_get
      description:
        Gets a list of all instances of FundingInformation (more information
        in https://w3id.org/okn/o/sd#FundingInformation)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FundingInformation"
                type: array
          description:
            Successful response - returns an array with the instances of
            FundingInformation.
      summary: List all instances of FundingInformation
      tags:
        - FundingInformation
    post:
      operationId: fundinginformations_post
      description:
        Create a new instance of FundingInformation (more information in
        https://w3id.org/okn/o/sd#FundingInformation)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundingInformation"
        description: Information about the FundingInformationto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingInformation"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one FundingInformation
      tags:
        - FundingInformation
  /fundinginformations/{id}:
    delete:
      operationId: fundinginformations_id_delete
      description: Delete an existing FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)
      parameters:
        - description: The ID of the FundingInformation to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing FundingInformation
      tags:
        - FundingInformation
    get:
      operationId: fundinginformations_id_get
      description:
        Gets the details of a given FundingInformation (more information
        in https://w3id.org/okn/o/sd#FundingInformation)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the FundingInformation to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingInformation"
          description: Gets the details of a given FundingInformation
      summary: Get a single FundingInformation by its id
      tags:
        - FundingInformation
    put:
      operationId: fundinginformations_id_put
      description: Updates an existing FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)
      parameters:
        - description: The ID of the FundingInformation to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundingInformation"
        description: An old FundingInformationto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingInformation"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing FundingInformation
      tags:
        - FundingInformation
  /images:
    get:
      operationId: images_get
      description: Gets a list of all instances of Image (more information in https://w3id.org/okn/o/sd#Image)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
          description:
            Successful response - returns an array with the instances of
            Image.
      summary: List all instances of Image
      tags:
        - Image
    post:
      operationId: images_post
      description: Create a new instance of Image (more information in https://w3id.org/okn/o/sd#Image)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Image"
        description: Information about the Imageto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one Image
      tags:
        - Image
  /images/{id}:
    delete:
      operationId: images_id_delete
      description: Delete an existing Image (more information in https://w3id.org/okn/o/sd#Image)
      parameters:
        - description: The ID of the Image to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing Image
      tags:
        - Image
    get:
      operationId: images_id_get
      description: Gets the details of a given Image (more information in https://w3id.org/okn/o/sd#Image)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the Image to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: Gets the details of a given Image
      summary: Get a single Image by its id
      tags:
        - Image
    put:
      operationId: images_id_put
      description: Updates an existing Image (more information in https://w3id.org/okn/o/sd#Image)
      parameters:
        - description: The ID of the Image to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Image"
        description: An old Imageto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing Image
      tags:
        - Image
  /numericalindexs:
    get:
      operationId: numericalindexs_get
      description:
        Gets a list of all instances of NumericalIndex (more information
        in https://w3id.org/okn/o/sd#NumericalIndex)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/NumericalIndex"
                type: array
          description:
            Successful response - returns an array with the instances of
            NumericalIndex.
      summary: List all instances of NumericalIndex
      tags:
        - NumericalIndex
    post:
      operationId: numericalindexs_post
      description: Create a new instance of NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NumericalIndex"
        description: Information about the NumericalIndexto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumericalIndex"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one NumericalIndex
      tags:
        - NumericalIndex
  /numericalindexs/{id}:
    delete:
      operationId: numericalindexs_id_delete
      description: Delete an existing NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)
      parameters:
        - description: The ID of the NumericalIndex to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing NumericalIndex
      tags:
        - NumericalIndex
    get:
      operationId: numericalindexs_id_get
      description:
        Gets the details of a given NumericalIndex (more information in
        https://w3id.org/okn/o/sd#NumericalIndex)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the NumericalIndex to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumericalIndex"
          description: Gets the details of a given NumericalIndex
      summary: Get a single NumericalIndex by its id
      tags:
        - NumericalIndex
    put:
      operationId: numericalindexs_id_put
      description: Updates an existing NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)
      parameters:
        - description: The ID of the NumericalIndex to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NumericalIndex"
        description: An old NumericalIndexto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumericalIndex"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing NumericalIndex
      tags:
        - NumericalIndex
  /organizations:
    get:
      operationId: organizations_get
      description:
        Gets a list of all instances of Organization (more information
        in https://w3id.org/okn/o/sd#Organization)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Organization"
                type: array
          description:
            Successful response - returns an array with the instances of
            Organization.
      summary: List all instances of Organization
      tags:
        - Organization
    post:
      operationId: organizations_post
      description: Create a new instance of Organization (more information in https://w3id.org/okn/o/sd#Organization)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Organization"
        description: Information about the Organizationto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one Organization
      tags:
        - Organization
  /organizations/{id}:
    delete:
      operationId: organizations_id_delete
      description: Delete an existing Organization (more information in https://w3id.org/okn/o/sd#Organization)
      parameters:
        - description: The ID of the Organization to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing Organization
      tags:
        - Organization
    get:
      operationId: organizations_id_get
      description: Gets the details of a given Organization (more information in https://w3id.org/okn/o/sd#Organization)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the Organization to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
          description: Gets the details of a given Organization
      summary: Get a single Organization by its id
      tags:
        - Organization
    put:
      operationId: organizations_id_put
      description: Updates an existing Organization (more information in https://w3id.org/okn/o/sd#Organization)
      parameters:
        - description: The ID of the Organization to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Organization"
        description: An old Organizationto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing Organization
      tags:
        - Organization
  /parameters:
    get:
      operationId: parameters_get
      description:
        Gets a list of all instances of Parameter (more information in
        https://w3id.org/okn/o/sd#Parameter)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Parameter"
                type: array
          description:
            Successful response - returns an array with the instances of
            Parameter.
      summary: List all instances of Parameter
      tags:
        - Parameter
    post:
      operationId: parameters_post
      description: Create a new instance of Parameter (more information in https://w3id.org/okn/o/sd#Parameter)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Parameter"
        description: Information about the Parameterto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Parameter"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one Parameter
      tags:
        - Parameter
  /parameters/{id}:
    delete:
      operationId: parameters_id_delete
      description: Delete an existing Parameter (more information in https://w3id.org/okn/o/sd#Parameter)
      parameters:
        - description: The ID of the Parameter to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing Parameter
      tags:
        - Parameter
    get:
      operationId: parameters_id_get
      description: Gets the details of a given Parameter (more information in https://w3id.org/okn/o/sd#Parameter)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the Parameter to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Parameter"
          description: Gets the details of a given Parameter
      summary: Get a single Parameter by its id
      tags:
        - Parameter
    put:
      operationId: parameters_id_put
      description: Updates an existing Parameter (more information in https://w3id.org/okn/o/sd#Parameter)
      parameters:
        - description: The ID of the Parameter to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Parameter"
        description: An old Parameterto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Parameter"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing Parameter
      tags:
        - Parameter
  /persons:
    get:
      operationId: persons_get
      description: Gets a list of all instances of Person (more information in https://w3id.org/okn/o/sd#Person)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Person"
                type: array
          description:
            Successful response - returns an array with the instances of
            Person.
      summary: List all instances of Person
      tags:
        - Person
    post:
      operationId: persons_post
      description: Create a new instance of Person (more information in https://w3id.org/okn/o/sd#Person)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Person"
        description: Information about the Personto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one Person
      tags:
        - Person
  /persons/{id}:
    delete:
      operationId: persons_id_delete
      description: Delete an existing Person (more information in https://w3id.org/okn/o/sd#Person)
      parameters:
        - description: The ID of the Person to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing Person
      tags:
        - Person
    get:
      operationId: persons_id_get
      description: Gets the details of a given Person (more information in https://w3id.org/okn/o/sd#Person)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the Person to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
          description: Gets the details of a given Person
      summary: Get a single Person by its id
      tags:
        - Person
    put:
      operationId: persons_id_put
      description: Updates an existing Person (more information in https://w3id.org/okn/o/sd#Person)
      parameters:
        - description: The ID of the Person to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Person"
        description: An old Personto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing Person
      tags:
        - Person
  /samplecollections:
    get:
      operationId: samplecollections_get
      description:
        Gets a list of all instances of SampleCollection (more information
        in https://w3id.org/okn/o/sd#SampleCollection)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SampleCollection"
                type: array
          description:
            Successful response - returns an array with the instances of
            SampleCollection.
      summary: List all instances of SampleCollection
      tags:
        - SampleCollection
    post:
      operationId: samplecollections_post
      description:
        Create a new instance of SampleCollection (more information in
        https://w3id.org/okn/o/sd#SampleCollection)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SampleCollection"
        description: Information about the SampleCollectionto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleCollection"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one SampleCollection
      tags:
        - SampleCollection
  /samplecollections/{id}:
    delete:
      operationId: samplecollections_id_delete
      description: Delete an existing SampleCollection (more information in https://w3id.org/okn/o/sd#SampleCollection)
      parameters:
        - description: The ID of the SampleCollection to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing SampleCollection
      tags:
        - SampleCollection
    get:
      operationId: samplecollections_id_get
      description:
        Gets the details of a given SampleCollection (more information
        in https://w3id.org/okn/o/sd#SampleCollection)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the SampleCollection to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleCollection"
          description: Gets the details of a given SampleCollection
      summary: Get a single SampleCollection by its id
      tags:
        - SampleCollection
    put:
      operationId: samplecollections_id_put
      description: Updates an existing SampleCollection (more information in https://w3id.org/okn/o/sd#SampleCollection)
      parameters:
        - description: The ID of the SampleCollection to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SampleCollection"
        description: An old SampleCollectionto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleCollection"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing SampleCollection
      tags:
        - SampleCollection
  /sampleexecutions:
    get:
      operationId: sampleexecutions_get
      description:
        Gets a list of all instances of SampleExecution (more information
        in https://w3id.org/okn/o/sd#SampleExecution)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SampleExecution"
                type: array
          description:
            Successful response - returns an array with the instances of
            SampleExecution.
      summary: List all instances of SampleExecution
      tags:
        - SampleExecution
    post:
      operationId: sampleexecutions_post
      description: Create a new instance of SampleExecution (more information in https://w3id.org/okn/o/sd#SampleExecution)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SampleExecution"
        description: Information about the SampleExecutionto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleExecution"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one SampleExecution
      tags:
        - SampleExecution
  /sampleexecutions/{id}:
    delete:
      operationId: sampleexecutions_id_delete
      description: Delete an existing SampleExecution (more information in https://w3id.org/okn/o/sd#SampleExecution)
      parameters:
        - description: The ID of the SampleExecution to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing SampleExecution
      tags:
        - SampleExecution
    get:
      operationId: sampleexecutions_id_get
      description:
        Gets the details of a given SampleExecution (more information in
        https://w3id.org/okn/o/sd#SampleExecution)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the SampleExecution to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleExecution"
          description: Gets the details of a given SampleExecution
      summary: Get a single SampleExecution by its id
      tags:
        - SampleExecution
    put:
      operationId: sampleexecutions_id_put
      description: Updates an existing SampleExecution (more information in https://w3id.org/okn/o/sd#SampleExecution)
      parameters:
        - description: The ID of the SampleExecution to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SampleExecution"
        description: An old SampleExecutionto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleExecution"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing SampleExecution
      tags:
        - SampleExecution
  /sampleresources:
    get:
      operationId: sampleresources_get
      description:
        Gets a list of all instances of SampleResource (more information
        in https://w3id.org/okn/o/sd#SampleResource)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SampleResource"
                type: array
          description:
            Successful response - returns an array with the instances of
            SampleResource.
      summary: List all instances of SampleResource
      tags:
        - SampleResource
    post:
      operationId: sampleresources_post
      description: Create a new instance of SampleResource (more information in https://w3id.org/okn/o/sd#SampleResource)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SampleResource"
        description: Information about the SampleResourceto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleResource"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one SampleResource
      tags:
        - SampleResource
  /sampleresources/{id}:
    delete:
      operationId: sampleresources_id_delete
      description: Delete an existing SampleResource (more information in https://w3id.org/okn/o/sd#SampleResource)
      parameters:
        - description: The ID of the SampleResource to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing SampleResource
      tags:
        - SampleResource
    get:
      operationId: sampleresources_id_get
      description:
        Gets the details of a given SampleResource (more information in
        https://w3id.org/okn/o/sd#SampleResource)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the SampleResource to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleResource"
          description: Gets the details of a given SampleResource
      summary: Get a single SampleResource by its id
      tags:
        - SampleResource
    put:
      operationId: sampleresources_id_put
      description: Updates an existing SampleResource (more information in https://w3id.org/okn/o/sd#SampleResource)
      parameters:
        - description: The ID of the SampleResource to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SampleResource"
        description: An old SampleResourceto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SampleResource"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing SampleResource
      tags:
        - SampleResource
  /softwares:
    get:
      operationId: softwares_get
      description: Gets a list of all instances of Software (more information in https://w3id.org/okn/o/sd#Software)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Software"
                type: array
          description:
            Successful response - returns an array with the instances of
            Software.
      summary: List all instances of Software
      tags:
        - Software
    post:
      operationId: softwares_post
      description: Create a new instance of Software (more information in https://w3id.org/okn/o/sd#Software)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Software"
        description: Information about the Softwareto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Software"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one Software
      tags:
        - Software
  /softwares/{id}:
    delete:
      operationId: softwares_id_delete
      description: Delete an existing Software (more information in https://w3id.org/okn/o/sd#Software)
      parameters:
        - description: The ID of the Software to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing Software
      tags:
        - Software
    get:
      operationId: softwares_id_get
      description: Gets the details of a given Software (more information in https://w3id.org/okn/o/sd#Software)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the Software to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Software"
          description: Gets the details of a given Software
      summary: Get a single Software by its id
      tags:
        - Software
    put:
      operationId: softwares_id_put
      description: Updates an existing Software (more information in https://w3id.org/okn/o/sd#Software)
      parameters:
        - description: The ID of the Software to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Software"
        description: An old Softwareto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Software"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing Software
      tags:
        - Software
  /softwareconfigurations:
    get:
      operationId: softwareconfigurations_get
      description:
        Gets a list of all instances of SoftwareConfiguration (more information
        in https://w3id.org/okn/o/sd#SoftwareConfiguration)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SoftwareConfiguration"
                type: array
          description:
            Successful response - returns an array with the instances of
            SoftwareConfiguration.
      summary: List all instances of SoftwareConfiguration
      tags:
        - SoftwareConfiguration
    post:
      operationId: softwareconfigurations_post
      description:
        Create a new instance of SoftwareConfiguration (more information
        in https://w3id.org/okn/o/sd#SoftwareConfiguration)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SoftwareConfiguration"
        description: Information about the SoftwareConfigurationto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareConfiguration"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one SoftwareConfiguration
      tags:
        - SoftwareConfiguration
  /softwareconfigurations/{id}:
    delete:
      operationId: softwareconfigurations_id_delete
      description: Delete an existing SoftwareConfiguration (more information in https://w3id.org/okn/o/sd#SoftwareConfiguration)
      parameters:
        - description: The ID of the SoftwareConfiguration to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing SoftwareConfiguration
      tags:
        - SoftwareConfiguration
    get:
      operationId: softwareconfigurations_id_get
      description:
        Gets the details of a given SoftwareConfiguration (more information
        in https://w3id.org/okn/o/sd#SoftwareConfiguration)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the SoftwareConfiguration to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareConfiguration"
          description: Gets the details of a given SoftwareConfiguration
      summary: Get a single SoftwareConfiguration by its id
      tags:
        - SoftwareConfiguration
    put:
      operationId: softwareconfigurations_id_put
      description:
        Updates an existing SoftwareConfiguration (more information in
        https://w3id.org/okn/o/sd#SoftwareConfiguration)
      parameters:
        - description: The ID of the SoftwareConfiguration to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SoftwareConfiguration"
        description: An old SoftwareConfigurationto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareConfiguration"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing SoftwareConfiguration
      tags:
        - SoftwareConfiguration
  /softwareimages:
    get:
      operationId: softwareimages_get
      description:
        Gets a list of all instances of SoftwareImage (more information
        in https://w3id.org/okn/o/sd#SoftwareImage)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: Filter by label
          explode: true
          in: query
          name: label
          required: false
          schema:
            type: string
          style: form
        - description: Page number
          explode: true
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
          style: form
        - description: Items per page
          explode: true
          in: query
          name: per_page
          required: false
          schema:
            default: 100
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SoftwareImage"
                type: array
          description:
            Successful response - returns an array with the instances of
            SoftwareImage.
      summary: List all instances of SoftwareImage
      tags:
        - SoftwareImage
    post:
      operationId: softwareimages_post
      description: Create a new instance of SoftwareImage (more information in https://w3id.org/okn/o/sd#SoftwareImage)
      parameters:
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SoftwareImage"
        description: Information about the SoftwareImageto be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareImage"
          description: Created
      security:
        - BearerAuth: []
      summary: Create one SoftwareImage
      tags:
        - SoftwareImage
  /softwareimages/{id}:
    delete:
      operationId: softwareimages_id_delete
      description: Delete an existing SoftwareImage (more information in https://w3id.org/okn/o/sd#SoftwareImage)
      parameters:
        - description: The ID of the SoftwareImage to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      responses:
        "202":
          description: Deleted
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete an existing SoftwareImage
      tags:
        - SoftwareImage
    get:
      operationId: softwareimages_id_get
      description:
        Gets the details of a given SoftwareImage (more information in
        https://w3id.org/okn/o/sd#SoftwareImage)
      parameters:
        - description: Name of the user graph to query
          explode: true
          in: query
          name: username
          required: false
          schema:
            type: string
          style: form
        - description: The ID of the SoftwareImage to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareImage"
          description: Gets the details of a given SoftwareImage
      summary: Get a single SoftwareImage by its id
      tags:
        - SoftwareImage
    put:
      operationId: softwareimages_id_put
      description: Updates an existing SoftwareImage (more information in https://w3id.org/okn/o/sd#SoftwareImage)
      parameters:
        - description: The ID of the SoftwareImage to be retrieved
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Username
          explode: true
          in: query
          name: user
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SoftwareImage"
        description: An old SoftwareImageto be updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareImage"
          description: Updated
        "404":
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update an existing SoftwareImage
      tags:
        - SoftwareImage
  /softwareversions:
    get:
      operationId: softwareversions_get
      description:
[...]
